<h1>all items</h1><hr>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Rating</th>
    <th>Delete</th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.id %></td>
    <th><%= link_to item.name, item_path(item)%></th>
    <th><%= item.price %></th>
    <th><%= item.description %></th>
    <th><%= item.votes_count %>, <%= link_to '+', upvote_item_path(item) %></th>

    <th><%= button_to 'delete', item_path(item), method: :delete %></th>
  </tr>
  <% end %> 
</table>
<hr>
<%= button_to 'new_item', new_item_path, method: :get %>
<br/>
<%= button_to 'only expensive', expensive_items_path, method: :get %>
