<h2>Add Item</h2>

<%= form_tag items_path, method: :post do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  
  <%= label_tag :price %>
  <%= text_field_tag :price %>

  <%= label_tag :weight %>
  <%= text_field_tag :weight %>

  <%= label_tag :description %>
  <%= text_field_tag :description %>

  <%= submit_tag "Save", class: "btn btn-large btn-primary" %>
<% end %>
<hr>
<%= button_to 'All items', items_path , method: :get%>

<%= render partial: 'shared/email'%>