<h1>show item</h1>

<h4><%= @item.name.upcase %></h4> 

<ul> 
  <li>price: <%= @item.price %> $ </li>
  <li>description: <%= urls_to_images(@item.description) %></li>
  <li>weight:  <%= @item.weight%></li> 
</ul>

<%= button_to "Edit #{@item.name}", edit_item_path, method: :get %>
<%= button_to "Delete #{@item.name}", item_path(@item), method: :delete %> 
<%= button_to 'All items', items_path, method: :get %> 
<hr>

<%= render partial: 'shared/email' %>


<%#  

%h1= show item

%h4= @item.name.upcase 

%ul
  %li price: "#{@item.price} $ "
  %li description: "#{urls_to_images(@item.description)}" 
  %li weight:      "#{@item.weight}" 

= button_to "Edit #{@item.name}",   edit_item_path, method: :get 
= button_to "Delete #{@item.name}", item_path(@item), method: :delete 
= button_to "All items", items_path, method: :get
%br

= render partial: 'shared/email' %>