<h1>show item</h1>

<h4><%= @item.name %></h4>

<ul>
  <li>price:<%= @item.price %> $ </li>
  <li>description:<%= @item.description %></li>
  <li>weight:<%= @item.weight %></li>
</ul>
<%= link_to "edit #{@item.name}", edit_item_path %>
 
<%= button_to "delete #{@item.name}", item_path(@item), method: :delete %>


<hr>
<%= link_to 'index', items_path %>
